
<div id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark  navbar-top navbar-default" style="position: sticky">
  <div class="col-1 float-lg-left" style="padding: 5px;font-family: Broadway "><a href="http://localhost:4200/" style="color: white">Student Manager</a></div>
  <div class="col-lg-11">
    <div class="panel panel-default">
      <div class="panel-body p-t-0" style="padding-top: 10px">
      <div class="col-2 float-lg-left"><a class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a" style="color: white" (click)="onOpenModal('add')"><i class="mdi mdi-plus"></i> Add Student</a></div>
        <form class="form-inline my-2 my-lg-0" style="float: right">
          <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search" required>
        </form>
      </div>
    </div>
  </div>
</div>
<body>
<div class="container" id="main" style="margin-top: 20px; margin-outside: 0px">
  <div class="container bootstrap snippets bootdey">
    <div *ngFor="let odbor of odbory">{{odbor.nazov}}88888888888</div>
    <div class="row">
      <div *ngFor="let student of students" class="col-md-5 col-xl-6">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-3">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-lg-10 card-title align-self-center ">
              <h5>{{student?.meno}} {{student?.priezvisko}}</h5>
              <p class="m-0"> ID NUMBER of student: <b>{{student?.id}}</b></p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{student.mail}}</a></li>
            <li class="list-group-item">Faculty: <b>{{student?.fakultaNazov}}</b></li>
            <li class="list-group-item">Department: <b>{{student?.katedraNazov}}</b></li>
            <li class="list-group-item">Field of study: <b>{{student?.odborNazov}}</b></li>
            <li class="list-group-item">Year: <b>{{student?.rocnik}}</b> </li>
            <li class="list-group-item">City: <b>{{student?.mesto}}</b> </li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal('change',student)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal('delete',student)" class="btn btn-secondary tooltips" style="background-color: indianred" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addStudentModalLabel">Add Students</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
              <div class="form-group">
                <label for="meno">Name</label>
                <input type="text" ngModel name="meno" class="form-control" id="meno" placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="priezvisko">Surname</label>
                <input type="text" ngModel name="priezvisko" class="form-control" id="priezvisko" placeholder="Surname" required>
              </div>
              <div class="form-group">
                <label for="typ">Field of study</label>
                <!--<input type="text" ngModel name="odbor" class="form-control" id="odbor" placeholder="Field of Study" required>-->
                <select class="form-select" type="text" ngModel name="typ" class="form-control" id="typ" placeholder="Field of Study" required>
                  <option *ngFor="let odbor of odbory" value="{{odbor?.id}}">{{odbor?.nazov + odbor?.typ}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="katedranaz">Department</label>
                <input type="text" ngModel name="katedranaz" class="form-control" id="katedranaz" placeholder="Department" required>
              </div>
              <div class="form-group">
                <label for="fakultanaz">Faculty</label>
                <input type="" ngModel name="fakultanaz" class="form-control" id="fakultanaz" placeholder="Faculty" required>
              </div>
              <div class="form-group">
                <label for="rocnik">Year</label>
                <input type="text" ngModel name="rocnik" class="form-control" id="rocnik" placeholder="Year" required>
              </div>
              <div class="form-group">
                <label for="mesto">City</label>
                <input type="text" ngModel name="mesto" class="form-control" id="mesto" placeholder="City" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add student</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="changeStudentModal" tabindex="-1" role="dialog" aria-labelledby="changeStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeStudentModalLabel">Edit Student </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="meno">Name</label>
                <input type="text" ngModel="{{updateStudent?.meno}}" name="meno" class="form-control" id="menoChange" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="priezvisko">Surname</label>
                <input type="text" ngModel="{{updateStudent?.priezvisko}}" name="priezvisko" class="form-control" id="priezviskoChange" aria-describedby="emailHelp" placeholder="Surname">
              </div>
              <div class="form-group">
                <label for="mesto">Mesto</label>
                <input type="text" ngModel="{{updateStudent?.priezvisko}}" name="mesto" class="form-control" id="mestoChange" aria-describedby="emailHelp" placeholder="Surname">
              </div>
              <input type="hidden" ngModel="{{updateStudent?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <input type="hidden" ngModel="{{updateStudent?.mesto}}" name="mesto2" class="form-control" id="mesto2" placeholder="Email">
              <div class="form-group">
                <label for="mail">Email</label>
                <input type="mail" ngModel="{{updateStudent?.mail}}" name="mail" class="form-control" id="mail" placeholder="Email">
              </div>
              <div class="modal-footer">
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button (click)="onUpdateStudent(updateStudent.id,editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{deleteStudent?.meno}} {{deleteStudent?.priezvisko}}</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteStudent(deleteStudent.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="students?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO STUDENTS!</h4>
        <p>No students were found in this database!</p>
      </div>
    </div>
</div>

</body>
