<div class="container">
  <div class="container bootstrap snippets bootdey">
    <div class="navbar">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body p-t-0">
            <div >
              <div class="col-sm-6"><a href="#add-student" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="mdi mdi-plus"></i> Add Student</a></div>
            </div>
            <div class="input-group">
              <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5></h5>
              <p class="m-0">Student UMB</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">xxxxx@gmail.com</a></li>
            <li class="list-group-item">Fakulta</li>
            <li class="list-group-item">Katedra</li>
            <li class="list-group-item">Odbor</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5></h5>
              <p class="m-0">Student UMB</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">xxxxx@gmail.com</a></li>
            <li class="list-group-item">Fakulta</li>
            <li class="list-group-item">Katedra</li>
            <li class="list-group-item">Odbor</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5></h5>
              <p class="m-0">Student UMB</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">xxxxx@gmail.com</a></li>
            <li class="list-group-item">Fakulta</li>
            <li class="list-group-item">Katedra</li>
            <li class="list-group-item">Odbor</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
              <h5></h5>
              <p class="m-0">Student UMB</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">xxxxx@gmail.com</a></li>
            <li class="list-group-item">Fakulta</li>
            <li class="list-group-item">Katedra</li>
            <li class="list-group-item">Odbor</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
